<div class="image">

  <form nz-form *ngIf="validateForm" [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email address">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email" placeholder="Email" [(ngModel)]="email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" [(ngModel)]="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <a>
      <button type="submit" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    </a>
    Or <a routerLink="/register-component">register now!</a>
  </form>
</div>
<router-outlet></router-outlet>
