.login-form {
  max-width: 300px;
  padding-top: 10em;
  margin-left: 40%;
  margin-right: 40%;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.image{
  background-size:cover;
  width: 100%;
  min-height: 100%;
  background-image:url('https://cdn.stocksnap.io/img-thumbs/960w/digital-clock_0NV2FAVPAX.jpg');
  background-position:50% 50%;
}

.register-form-button {
  margin-top: 30px;
  width: 60%;
  position: center;
  object-position: center;
  padding-left: 20%;
  padding-right: 20%;
}
