* {
  color: #141414;
}

.background {
  background-image: url('https://data.whicdn.com/images/126359092/original.jpg');
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
  width: 100%;
}

.title {
  margin-left: 2em;
}

.backButton {
  margin: 2em;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.container {
  vertical-align: center;
  width: 100%;
}

.player {
  width: 640px;
  position: sticky;
  bottom: 0;
  opacity: .7;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  width: 640px;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
}


